@import url('https://fonts.googleapis.com/css?family=Poppins');

/*start global*/
body {
    padding-top: 70px;
    background-color: #f5f7f8;
}

/*end global*/
/*start navbar */
.nav>li>a>img {
    background: none;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    background-color: #fff;
    padding: 1px;
    border: 2px solid gray;
}

.navbar {
    border-bottom: 5px solid gray;
<<<<<<< HEAD
    padding-left:15px;
    padding-right:15px;
=======

>>>>>>> dcc8d6460f32a217c0b856af08a862e8cdba09cb
}

.dropdown-menu {
    border-top: 5px solid #6f7883;
    width: 200px;
<<<<<<< HEAD
    background-color: #e3e3e3;
=======
>>>>>>> dcc8d6460f32a217c0b856af08a862e8cdba09cb
}

.dropdown-menu>li>a {
    -webkit-transition: padding 0.4s ease;
    -moz-transition: padding 0.4s ease;
    transition: padding 0.4s ease;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    padding-left: 30px;
<<<<<<< HEAD
    background-color: rgb(78, 76, 76);
    color:#fff;
=======

>>>>>>> dcc8d6460f32a217c0b856af08a862e8cdba09cb
}

.navbar-inverse .navbar-brand {
    font-family: 'Indie Flower', cursive
}

.special {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.navbar-header a span {
    color: #fff;
    font-size: 30px;
}

/*end navbar*/
/*start content*/
.container-fluid .list-group {
    box-shadow: 3px 3px 3px 3px rgba(161, 156, 156, 0.5);
    overflow: hidden;
    height: auto;
    border-radius: 10px;
}

.container-fluid .list-group li:nth-of-type(1) {
    background-color: #11b4e6;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: 3px 3px 3px 3px rgba(5, 135, 158, 0.5);

}

/*.container-fluid .list-group li:nth-of-type(3)
{
    border: none;
}*/
.container-fluid .list-group li a {

    color: black;
    text-decoration: none;
    font-size: 20px;
}

.container-fluid .search {
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(161, 156, 156, 0.5);
    overflow: hidden;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.container-fluid .post,
.container-fluid .main-post,
.event1 {
    box-shadow: 3px 3px 3px 3px rgba(161, 156, 156, 0.5);
    overflow: hidden;
    height: auto;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.container-fluid .post .form-group textarea {
    box-shadow: 3px 3px 3px 3px rgba(161, 156, 156, 0.5);
    border: none;
    margin-top: 20px;
    max-width: 100%;
    resize: none;
}

.post button {
    background-color: rgb(88, 84, 84);
    color: #fff;
    width: 100px;
    border: 0;
}

.post button:hover {
    background-color: rgb(226, 226, 226);
    color: gray;
}

.container-fluid .main-post {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

.container-fluid .main-post:hover {
    cursor: pointer;
}

.container-fluid .main-post img[alt="avatar"] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    padding: 1px;
    border: 1px solid gray;
}

.container-fluid .main-post span {
    font-size: 15px;
    font-weight: bold;
    color: #00394b;

}

.container-fluid .main-post p {
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    font-weight: 500;
    padding: 5px;
}

.container-fluid .main-post img[alt="plane"] {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.container-fluid .main-post img[alt="plane"]:hover {
    box-shadow: 0 0 2px 2px rgb(70, 69, 69);
}

::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.button * {
    box-sizing: border-box;
}

.button {
    display: inline-block;
    padding: 10px 24px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.button:active {
    transform: translateY(1px);
}

.button--fun {
    position: relative;
    border-color: rgb(65, 63, 63);
    color: #EEE;
}

.button--fun a {
    color: gray;
    text-decoration: none;
}

.button--fun:before {
    content: "";
    transform-origin: center bottom;
    transform: scale3d(1, 0, 1);
    transition: transform 0.25s ease;
    position: absolute;
    top: 0;
    right: -1px;
    width: calc(100% + 1px);
    height: 100%;
    background-color: #333;
}

.button .button__content {
    transition: color 0.25s ease;
    display: inline-flex;
    flex-direction: column;
}

.button--fun:hover .button__content {
    position: relative;
    color: #fff;
}

.button--fun:hover {
    cursor: pointer;
    text-decoration: none;
}

.button--fun:hover::before {
    transform: scale3d(1, 1, 1);
}

.event1 {
    border: none;
    padding: 15px;

}

.event1 h3 {
<<<<<<< HEAD
    font-size:20px;
    font-weight:bold;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    background-color:rgb(160,82,45);
    padding: 15px;
    margin-top:0;
=======
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    background-color: rgb(168, 164, 164);
    padding: 10px;
    margin-top: 0;
>>>>>>> dcc8d6460f32a217c0b856af08a862e8cdba09cb
    box-shadow: 3px 3px 3px 3px gray;
    margin-bottom: 20px;
}

.event1 .e1 {
    margin-bottom: 10px;
}

.event1 .e1 img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.event1 .e1 img:hover {
    box-shadow: 0 0 2px 2px rgb(70, 69, 69);
    -webkit-transform: scale(1.01, 1.01);
    -moz-transform: scale(1.01, 1.01);
    -o-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    cursor: pointer;
}

.event1 .e1 p {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.event1 .e1 button {
    width: 150px;
    background-color: rgb(99, 99, 99);
    border: none;
    font-size: 16px;
    border: 3px solid rgb(155, 155, 155);

}

.event1 .e1 button:hover {
    background-color: rgb(129, 129, 129);
}

.event1 .e1 button a {
    color: #fff;
    text-decoration: none;
}

/*end content*/
/*global search*/
.search2 {
    width: 100%;
    box-shadow: 3px 3px 3px 3px rgba(161, 156, 156, 0.5);
    border-radius: 10px;
<<<<<<< HEAD
    height: 200px;
=======
    height: 100px;
>>>>>>> dcc8d6460f32a217c0b856af08a862e8cdba09cb
    margin-bottom: 15px;
    padding: 15px;
}

.search2 .form-group .form-control {
<<<<<<< HEAD
    width: 75%;
    margin-top: 60px;
    margin-left:10px;
    display: inline-block;
    padding:20px;
=======
    width: 200px;
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
>>>>>>> dcc8d6460f32a217c0b856af08a862e8cdba09cb

}

.search2 .form-group button {
    margin-left: -10px;
<<<<<<< HEAD
    padding: 8.2px;
    width: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
=======
    padding: 6.5px;
    width: 60px;
>>>>>>> dcc8d6460f32a217c0b856af08a862e8cdba09cb
}

/*end global search*/
/*sidebar*/
.sidebar {
    height: 800px;
    width: 100%;
<<<<<<< HEAD
=======
    background-color: #FFF;
>>>>>>> dcc8d6460f32a217c0b856af08a862e8cdba09cb
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(161, 156, 156, 0.5);
    padding: 5px;
    margin-bottom: 15px;
}

.sidebar h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(80, 76, 76);
    margin-bottom: 10px;

}

.sidebar .style {
    border: 3px solid #4d2f2e;
    width: 120px;
    margin: auto;
    margin-bottom: 30px;
}

/*end sidebar*/
/*category*/
.sidebar ul {
    line-height: 1.9;
    margin-top: 20px;


}

.sidebar ul li {
    padding: 10px;
<<<<<<< HEAD
    background-color:rgb(112,128,144);
    color: #fff;
    margin-bottom:10px;
=======
    background-color: rgb(75, 72, 72);
    color: #fff;
    margin-bottom: 5px;
>>>>>>> dcc8d6460f32a217c0b856af08a862e8cdba09cb
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

<<<<<<< HEAD

.sidebar ul li:hover {
    box-shadow: 0 0 2px 2px rgb(70, 69, 69);
    background-color:rgb(47,79,79);
=======
.sidebar ul li:hover {
    box-shadow: 0 0 2px 2px rgb(70, 69, 69);
>>>>>>> dcc8d6460f32a217c0b856af08a862e8cdba09cb
    transform: scale(1.01, 1.01);
    cursor: pointer;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;

}

.sidebar ul li a:nth-last-of-type(2) {
    margin-right: 50px;
}

/*end category*/
/*footer*/
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    opacity: 0.8;
    font-size: 16px;

}

footer span {
     color:rgb(238, 133, 133);
     font-weight:bold;
     font-size:18px;

}

/*end footer*/
hr
{
    border:1px solid gray;
    background-color:gray;
}
/*for comment*/
.comment
{
    border:2px solid gray;
    box-shadow: 3px 3px 3px 3px rgba(161, 156, 156, 0.5);
    padding:10px;
    margin-top:10px;
    border-radius: 10px;
    text-align: center;
}
.comment .form-group .form-control
{
    width:80%;
    display: inline-block;
    margin-left:0px;
    margin-top:10px;
    
}
 